name: Parameterized Test Run with Allure Report

on:
  workflow_dispatch:
    inputs:
      test_type:
        description: "Choose which tests to run"
        required: true
        default: smoke
        type: choice
        options:
          - smoke
          - regression
          - all

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Run selected tests & generate Allure results
      run: |
        echo "Selected test type: ${{ github.event.inputs.test_type }}"
        if [ "${{ github.event.inputs.test_type }}" = "smoke" ]; then
          pytest -m smoke --alluredir=allure-results
        elif [ "${{ github.event.inputs.test_type }}" = "regression" ]; then
          pytest -m regression --alluredir=allure-results
        else
          pytest --alluredir=allure-results
        fi

    - name: Upload Allure results
      uses: actions/upload-artifact@v3
      with:
        name: allure-results
        path: allure-results
