name: Parameterized Test Run with PyTest HTML Report

on:
  workflow_dispatch:
    inputs:
      test_type:
        description: "Enters pytest markers"
        required: true
        default: smoke

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Run selected tests & generate HTML report
      run: |
        echo "Selected test type: ${{ github.event.inputs.test_type }}"
        if [ "${{ github.event.inputs.test_type }}" = "smoke" ]; then
          pytest -m smoke --html=pytest-report.html --self-contained-html
        elif [ "${{ github.event.inputs.test_type }}" = "regression" ]; then
          pytest -m regression --html=pytest-report.html --self-contained-html
        else
          pytest --html=pytest-report.html --self-contained-html
        fi

    - name: Upload PyTest HTML Report
      uses: actions/upload-artifact@v4
      with:
        name: pytest-html-report
        path: pytest-report.html
